@charset "utf-8";
/* CSS Document */

body
{
	margin: 0;
	padding: 0;
}

.container
{
	width: 100%;
	height: 3000px;
	background-color:#FFFFFF;
}

.content
{
	width: 100%;
	height: auto;
	background-color:#F8F8F8;
	display: flex;	
}
.content_left
{
	width: 20%;
	height: 800px;
	background-color:#FFFFFF;
	float: left;
	padding: 100px 10% 100px 10%;
	line-height: 80px;	
}
.content_right
{
	width: 60%;
	height: 1000px;
	background:url(../images/Anh.jpeg);
	float: right;
	
	
}
.menu
{
	width: 100%;
	height: 70px;
	
	position: fixed;
}


.logo
{
	width: 20%;
	height: 70px;
	
	float: left;
	line-height: 60px;
	color: aliceblue;
	font-size: 30px;
	letter-spacing: 5px;
}

.logongang
{
	width: 80%;
	height: 70px;
	float: right;
	
}

ul
{
	list-style: none;
}

ul li
{
	float: left;
	padding:10px 30px 10px 30px;
}
ul li:hover
{
	background-color:wheat;
}
ul li a
{
	color: aliceblue;
	text-decoration: none;
}

.vertical
{
	width: 100%;
	height: 50px;
	
	position: fixed;
	transform: rotate(90deg);
	left:47%;
}
.vertical a
{
	color: aliceblue;
	text-decoration: none;
}
.hinh
{
	width: 20%;
	height: auto;
	background-color: violet;
	float:left;
	margin: 2.5%;
}
.footer
{
	width: 100%;
	height: auto;
	background-color:#F8F8F8;
	float: left;
}









